.app-layout {
  display: flex;
  height: 100%;
  width: 100%;
  background: #020617; /* base escura */
}

.main-content {
  flex: 1;
  min-height: 100%;
  padding: 2.5rem;

  background: #f8fafc;
  overflow-y: auto;
}
